# sandbox internal files
runtime_loader.js
devtools.tsx
jsx-dev-runtime.ts
.npmrc
.snowflake/
.trash/
.vercel/
next.user-config.*

# Environment variables
.env*

# Common ignores
node_modules/
.next/
.DS_Store